<section>
  <form #loginForm="ngForm" fxLayoutAlign="center center" fxLayout="column" (ngSubmit)="onLogin(loginForm)">
    <mat-form-field>
      <input
        name="email"
        type="email"
        placeholder="Enter your email"
        ngModel
        #emailInput="ngModel"
        email
        required
        matInput
      >
      <mat-error *ngIf="emailInput.hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">Enter valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        name="password"
        type="password"
        placeholder="Enter your password"
        ngModel
        required
        matInput
        #passwordInput="ngModel"
      >
      <mat-error *ngIf="passwordInput.hasError('required')">Password is required.</mat-error>
    </mat-form-field>

    <button [disabled]="(isLoading$ | async) || loginForm.invalid" mat-raised-button color="primary"  >
      <span *ngIf="!(isLoading$ | async)" >Login</span>
      <mat-spinner *ngIf="(isLoading$ | async)" [diameter]="25"></mat-spinner>
    </button>


  </form>
</section>
