<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStart(form)" #form="ngForm">
  <mat-card fxFlex.xs="100%" fxFlex.gt-xs="400px">
    <mat-card-title fxLayoutAlign="center">
      Time to start workout.!
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">

      <mat-form-field>
        <mat-select placeholder="Select the type of training" ngModel #exercise name="exercise" required>
          <mat-option  value="{{exercise.id}}" *ngFor="let exercise of availableExercises">
            {{exercise.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button [disabled]="form.invalid">Start</button>
    </mat-card-actions>
  </mat-card>
  </form>
</section>
