<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">A1 Fitness</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="nav-items">
      <li *ngIf="!isAuth"><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/training" routerLinkActive="active">Training</a></li>
      <li *ngIf="isAuth"><a (click)="onLogout()" >Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
