<section>
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #form="ngForm" (ngSubmit)="onSubmit(form)" >
    <mat-form-field>
      <input
        type="email"
        placeholder="Your email"
        name="email"
        email
        ngModel
        required
        #emailInput="ngModel"
        matInput />
      <mat-error *ngIf="emailInput.hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">Email is invalid.</mat-error>
    </mat-form-field>

    <mat-form-field [hintLabel]="'Should be at least 6 characters'">
      <input
        type="password"
        placeholder="Your password"
        name="password"
        ngModel
        matInput
        required
        #passwordInput="ngModel"
        minlength="6" />
      <mat-hint [align]="'end'"> {{passwordInput.value?.length}} / 6 </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-form-field">
      <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Date of birth" ngModel required name="dob">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
<!--      <mat-datepicker #picker [startView]="'month'"></mat-datepicker>-->
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox color="primary" labelPosition="after" required ngModel name="agree"> I agree to terms and conditions.</mat-checkbox>

    <button [disabled]="showLoader || form.invalid" mat-raised-button color="primary"  >
      <span *ngIf="!showLoader" >SignUp</span>
      <mat-spinner *ngIf="showLoader" [diameter]="20"></mat-spinner>
    </button>
  </form>
</section>

