<div class="welcome" fxLayout.xs="column" fxLayoutGap.gt-xs="10px" fxLayoutAlign="center center">
  <section>
    <h1>ACTIVITY</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, provident.</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, provident.</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, provident.</p>
  </section>
</div>
